
/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: white;
    background: #2d2d2d;
    font-family: 'open sans', sans-serif;
}

.navBarContainerList{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    position: absolute;
    visibility: visible;
    top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(rgb(8, 8, 8), rgb(72, 71, 71));
}

.navBarItem{
    list-style: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.imgLogo {
    transition: linear 500ms;
    transform: scale(0.68, 0.68);
    height: 180px;
    max-height: 180px;
    max-width: 180px;
    position: relative;
    top: 5px;
    left: -23px;
    right: 0;
    margin: 0px;
    outline: none;
    border-radius: 100%;
}
.spacebar {
    margin: -20px;
    width: 100%;
}

@media (max-width: 485px){
    .navBarContainerList {  /* Contenedor de las listas e imagenes */
        position: relative;
        height: 40px;
        width: 100%;
    }
   

    .imgLogo { /* Logo de ph */
        transition: linear 500ms;
        transform: scale(0.68, 0.68);
        height: 110px;
        max-height: 110px;
        max-width: 110px;
        position: relative;
        top: 5px;
        left: -23px;
        right: 0;
        margin: 0px;
        outline: none;

    }

    .navBarItem{
        font-size: 17px;
        padding-left: 0%;
        margin-left: 0px;
    }

}


@keyframes background-animation-img{
    0% {
        background-image: url(../img/hero.jpg);
    }
    20% {
        background-image: url(https://www.lthouse.com.ar/Styles/img/b9.jpg);
    }
    40% {
        background-image: url(../img/hero.jpg);
    }
    60% {
        background-image: url(../img/platillo1.jpg);
    }
    80% {
        background-image: url(../img/hero.jpg);
    }
    100% {
        background-image: url(../img/platillo1.jpg);
    }
}

.navBarContainerListPC {
    width: 100%;
    height: fit-content;
}
.navBarItemPC{  
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

/* carrito */

    /* ======================================================== */
    /* ----------Botón flotante de "Mi pedido" con Num--------- */
    /* ======================================================== */

        /* Boton de la lista del pedido */
        .buttonFloatingOrderZero{
            background-color: rgb(48, 46, 46);
            background-image: url(../img/carrito.png);
            background-repeat: space;
            background-position-x: left;
            background-position: bottom;
            background-size: cover;
            background-repeat: space;
            background-position: top 6px left 10.5px;
            background-attachment: scroll;
            background-size: 44px;
            border-radius: 100%;
            border-width: 0px;
            overflow: hidden;
            outline: none;
            height: 65px;
            width: 65px;
            position: fixed;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
            margin-right: 10px;
            z-index: 100;
            animation-name: pedidoBtnAddedOut;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }

            @keyframes pedidoBtnAddedOut {
                0%{box-shadow: 0px 0px 10px 1px rgb(255, 236, 202);}
                100%{box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);}
            }

        .buttonFloatingOrderAddeds{
            background-color: rgb(17, 17, 17);
            background-image: url(./img/listBuy.png);
            background-repeat: space;
            background-position-x: left;
            background-position: bottom;
            background-size: cover;
            background-repeat: space;
            background-position: top 6px left 10.5px;
            background-attachment: scroll;
            background-size: 44px;
            border-radius: 100%;
            border-width: 0px;
            overflow: hidden;
            outline: none;
            height: 65px;
            width: 65px;
            position: fixed;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
            margin-right: 10px;
            z-index: 1000;
            animation-name: pedidoBtnAddedIn;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }

            @keyframes pedidoBtnAddedIn {
                0%{box-shadow: 0px 0px 10px rgb(0, 0, 0);}
                100%{box-shadow: 0px 0px 10px 1px rgb(255, 236, 202);}
            }

        /* número de ordenes agregadas al pedido */    
            .buttonFloatingNumber{   
                font-family: 'abhaya';
                font-style: normal;
                font-size: 18pt;
                position: absolute;
                top: 21px;
                left: 27px;
                margin: 0 auto;
                color: rgb(255, 234, 195);
                user-select: none;  
                z-index: 1;
            }


/* fin carrito */

a:hover,
a:active,
a:focus {
    color: #efd71e;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: #fbaf32;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #fbaf32;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}










/*******************************/
/********** Menu CSS ***********/
/*******************************/
.food {
    position: relative;
    width: 100%;
    padding: 90px 0 60px 0;
    margin: 45px 0;
    background: rgba(0, 0, 0, .04);
}

.food .food-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px 30px 30px;
    text-align: center;
    background: #c92727;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(160, 65, 65, 0.08);
    transition: .3s;
}

.food .food-item:hover {
    box-shadow: none;
}

.food .food-item i {
    position: relative;
    display: inline-block;
    color: #fbaf32;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    transition: .3s;
}

.food .food-item:hover i {
    color: #719a0a;
}

.food .food-item i::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -20px;
    left: -15px;
    border: 3px dotted #fbaf32;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 100px;
    transition: .3s;
}

.food .food-item:hover i::after {
    border: 3px dotted #719a0a;
    border-right: transparent;
    border-bottom: transparent;
}

.food .food-item h2 {
    font-size: 30px;
    font-weight: 700;
}

.food .food-item a {
    position: relative;
    font-size: 16px;
}

.food .food-item a::after {
    position: absolute;
    /* content: ""; */
    width: 50px;
    height: 1px;
    bottom: 0;
    left: calc(50% - 25px);
    background: #fbaf32;
    transition: .3s;
}

.food .food-item a:hover::after {
    width: 100%;
    left: 0;
    background: #719a0a;
}



/*******************************/
/*********** Menu CSS **********/
/*******************************/
.menu {
    position: relative;
    padding: 45px 0 15px 0;
    background: black;
    color: #f3f6ff;
}

.menu .menu-tab {
    position: relative;
}

.menu .menu-tab img {
    max-width: 100%;
    border-radius: 15px;
}

.menu .menu-tab .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #fbaf32;
    border-radius: 5px;
    margin: 0 5px;
}

.menu .menu-tab .nav.nav-pills .nav-link:hover,
.menu .menu-tab .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #719a0a;
}

.menu .menu-tab .tab-content {
    padding: 30px 0 0 0;
    background: transparent;
}

.menu .menu-tab .tab-content .container {
    padding: 0;
}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center; 
    height: auto;
    width: 100%;
    background-color: rgb(36, 6, 6);  
    position: relative;
    top: 0; 
}

.menu .menu-img {
    width: 250px;
    margin-right: 20px;
}

.menu .menu-img img {
    width: 100%;
    border-radius: 25%;
}

.menu .menu-text {
    width: calc(100% - 100px);
}


.menu .menu-text h3 {
    position: relative;
    display: block;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    color: rgb(255, 236, 202);
    font-size: 35px;
}

.menu .menu-text h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 13px;
    left: 0;
    border-top: 2px dotted #cccccc;
    z-index: -1;
}

.menu .menu-text h3 span {
    display: inline-block;
    /* float: left;  */
    padding-right: 80px;

   /*  background: #ffffff; */
}

.menu .menu-text strong {
    color: #fbaf32; 
    padding-left: 30px; 
     font-size: 25px;
}

.menu .menu-text p {
    position: relative;
    margin: 5px 0 0 0;
    float: left;
    display: block;
}

@media(max-width: 575.98px) {
    .menu .menu-text p,
    .menu .menu-text h3,
    .menu .menu-text h3 span,
    .menu .menu-text h3 strong {
        display: block;
        float: none;
        padding: 0px;
        margin: 0;
    }

    
    .menu .menu-text h3 {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-weight:250;
        color: rgb(255, 236, 202);
        font-size: 25px;
    }
    
    .menu .menu-text h3 span {
        margin-bottom: 3px;
    }

    .menu .menu-text p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    
    .menu .menu-text h3::after {
        display: none;
    }

    .menu .menu-img {
        width: 150px;
        margin-right: 10px;
    }

}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 25px;
    padding-top: 90px;
    background: rgba(0, 0, 0, .04);
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: white;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #fbaf32;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #719a0a;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #454545;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #fbaf32;
}

.footer .footer-link a:hover {
    color: #fbaf32;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color: #fbaf32;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 35px;
    font-size: 16px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #719a0a;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border: 1px solid #fbaf32;
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}

.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #2d2d2d;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: white;
}

.footer .copyright p a {
    color: #fbaf32;
}

.footer .copyright p a:hover {
    color: #719a0a;
}



